###############################################################################
## SPDX-License-Identifier: MIT
## Copyright (c) 2026 Florian Wilhelm
## Description: Example environment variables for local development.
###############################################################################

# Backend
ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__Default=Host=localhost;Port=5432;Database=template-webapp;Username=app;Password=app

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:63101
